.btn {
  color: #fff !important;
  border: 2px solid #57e0d3 !important;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
